#header-space {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000000000;
    background-color: transparent !important;
}

.company-logo {
    width: 150px;
    margin-left: 1rem;
    margin-top: 0.5rem;
    @include Respond(lg) {
        width: 110px;
    }
    @include Respond(md) {
        width: 100px;
    }
    @include Respond(sm) {
        width: 70px;
    }
}

.languages-box {
    font-size: 0.7rem;
    margin-top: -1.2rem;
    padding: 2px 10px;
    color: rgb(107, 106, 106);
    .link-languages {
        color: rgb(107, 106, 106);
        font-weight: 300;
        font-size: 0.7rem;
        font-weight: bold;
        cursor: pointer;
        &:hover {
            color: rgb(78, 78, 78);
        }
        @include Respond(lg) {
            font-size: 0.8rem;
        }
        @include Respond(md) {
            margin-top: 0.2rem;
            font-size: 0.8rem;
        }
        @include Respond(sm) {
            margin-top: 0.3rem;
            font-size: 0.8rem;
        }
    }
}

#header-scroll {
    display: none;
    @include Respond(md) {
        display: none;
    }
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 2px 0px;
    z-index: 99999999999;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, rgb(252, 252, 252) 10%, #fff 50%, rgba(255, 255, 255, 1) 90%) 1;
    img {
        margin-right: 0px;
        // width: 50px;
        @include Respond(md) {
            width: 80px;
        }
    }
    .home-menu-icon {
        display: none;
    }
    .header-scroll-title {
        display: none;
        font-size: 1rem;
        font-weight: bold;
        color: #2547b4;
        font-family: "DFKai-SB", Microsoft YaHei, Arial, sans-serif;
        @include Respond(md) {
            display: block;
        }
    }
    .menu-main {
        &-item {
            &-link {
                // color: #2547b4;
            }
        }
    }
    .languages-box {
        color: #2547b4;
        .link-languages {
            color: rgba(46, 46, 46, 0.5);
        }
    }
}

.start {
    display: flex !important;
    position: fixed;
    top: 0;
    z-index: 500;
    animation-name: show_header;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes show_header {
    0% {
        top: -50%;
    }
    100% {
        top: 0%;
    }
}

.close {
    display: flex !important;
    position: fixed;
    top: -50;
    z-index: 500;
    animation-name: close_header;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

@keyframes close_header {
    0% {
        top: 0%;
    }
    100% {
        top: -50%;
    }
}