@keyframes aniName {
  0% {
    margin: 0rem;
  }

  100% {
    margin: 0.3rem 0;
  }
}

.menu-sub {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-bottom: 1rem;
  padding-top: 3rem;

  &-item {
    cursor: pointer;
    margin: 0.2rem 0.2rem;
    padding: 0.5rem;
    transition: all 0.1s;
    border-top: 0.15rem solid transparent;
    a {
      padding: 0.5rem 1rem;
      font-weight: bold;
      display: block;
      font-size: 1rem;
      @include Respond(xl) {
        font-size: 1rem;
      }
      @include Respond(lg) {
        font-size: 0.9rem;
      }
      @include Respond(md) {
        font-size: 0.8rem;
      }
      @include Respond(sm) {
        font-size: 0.7rem;
      }
    }
    .menu-sub-child {
      display: none;
    }
    &:hover {
      border-top: 0.15rem solid $color_blue_link;
      .menu-sub-child {
        position: absolute;
        left: 0;
        z-index: 100;
        background-color: rgb(243, 245, 245);
        width: 100%;
        display: flex;
        cursor: default;
        div {
          a {
            margin: 0.3rem 0;
            animation: aniName 1s;
            -moz-animation: aniName 1s;
            -webkit-animation: aniName 1s;
            -o-animation: aniName 1s;
          }
        }
      }
    }
  }
}
