.column-cb{
    width: 2% !important;
}


.column-title {
    width: 30%;
}

//.column-content {
   // width: 60%;
//}

.column-setorder {
    width: 8%;
}

.column-langguage {
    width: 8%;
}
.column-category {
    width: 8%;
}
.column-home {
    width: 8%;
}

///===========================================================================
.without-img {
    width: 300px;
    background-color: #e7e3e3;
    padding: 2rem 0rem;

    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #8b8b8bc0;
}

.img-thumb {
    width: 300px;
}
//================================================================================
.show-home {
    background-color: #195700;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
}
